SECRET_KEY=
DEBUG=
STATIC_URL=
MEDIA_URL=
ALLOWED_HOSTS = 
CSRF_TRUSTED_ORIGINS=

POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=

REDIS_HOST=
REDIS_PORT=

OM2M_USERNAME=
OM2M_PASSWORD=
OM2M_URL=